html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ---------RESET */

/* open-sans-500 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v28-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-regular - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v28-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v28-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-800 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v28-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    /* background: rgba(255, 255, 255, 0.5); */
    background-color: #E5E5E5;
}
.header{
    background-color: #797979;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 35px;
}

/* .wrapper{
    margin: 0 auto;
} */

.header_wrapper{
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.header__list{
    display: flex;
    flex-wrap: wrap; 
}
.header_item{
    margin-right: 74px;
}
.header__link{
    font-size: 20px;
    line-height: 24px;
    color: #EAEAEA;
    text-decoration: none;
}
.header__link:hover, .header__link:active{
    opacity: .80;
}
.wrapper{
    padding: 0 15px;

}

.intro{
    min-height: 95vh;
    /* background-size: cover; */
    /* margin: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro__title{
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    color: #000000;
    max-width: 542px;
    margin-bottom: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.intro__subtitle{
    max-width: 417px;
    color: #000;
    font-size: 20px;
    margin-bottom: 17px;
    line-height: 24px;
}   
.intro__logo{
    width: 575px;
    height: 560px;
    margin-top: 79px;
}

.sub{
    padding: 12px 88px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 0;
}
.sub:hover, .sub:active{
    background: #d4d2d2;
}

.achive{
    max-width: 403px;
    display: flex;
    margin-top: 16px;
}

.col1, .col2, .col3 {
    padding: 5px;
}

.row1, .row {
    text-align: center;
}

.achive p {
    text-align: center;
}

.row1 {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.row2 {
    margin-top: 17px;
}

.logo-img {
    width: 35px;
    height: 35px;
    margin-right: 74px;
}

.abon{
    margin: 0 auto;
}
.abon_title{
    font-weight: 700;
    font-size: 80px;
    line-height: 1px;
    margin-top: 1px;
    color: #000000;
    margin-bottom: 57px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;

}
.abon_cardss{
    background: url(/img/¦д¦-¦-\ ¦+¦¬TП\ ¦-¦-¦-¦-¦¦¦-¦¦¦-TВ¦--min.png) no-repeat center;
    background-size: cover;
    /* width: 2596px; */
    height: 859px;
    display: flex;

}
.abon_card{
    background: radial-gradient(302.67% 517.91% at 92% 84.92%, rgba(0, 0, 0, 0.146) 0%, rgba(239, 239, 239, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(100px);
    border-radius: 15px;
    flex-basis: 430px 799px;
    margin: 10px;
    width: 500px;
    display: flex;
    position: relative;
}

.abon-container {
    margin: 0 auto;
    display: flex;
}
.abon_card h2{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 150px;
    transform: translate(-50%, -50%);
    max-width: 200px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 60px;
}
.abon_card p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 330px;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    /* letter-spacing: 0.05em; */
}


.abon_info {
    margin: auto 0;
    width: 100%;
    height: 50px;
}

.info_title{
    font-weight: 700;
    font-size: 80px;
    line-height: 200px;
    /* margin-top: 1px; */
    color: #000000;
    margin-bottom: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}
.info_card{
    max-width: 1364px;
    height: 770px;
    background: radial-gradient(66.39% 195.42% at 116.39% 131.51%, #C4C4C4 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(115.41% 174.38% at -9.24% -15.41%, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    mix-blend-mode: normal;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 38px 66px 255px; 
}
.info_project{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 74px 78px;
}

.trainers_title{
    font-weight: 700;
    font-size: 80px;
    line-height: 81px;
    margin-top: 51px;
    color: #000000;
    margin-bottom: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}
.trainers_card{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.trainers_card * {
    margin: 35px 79px;
}

.podr p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
}
.first_pr p{
    font-size: 64px;
}
.second_pr p{
    font-size: 64px;
    text-align:left;
    justify-content: center;
    /* margin: 65px 222px 40px 66px; */
}
.first_pr{
    display: flex;
    width: 100%;
    vertical-align: middle;
}
.second_pr{
    display: flex;
    width: 100%;
    vertical-align: middle;
}
.pr_img{
    width: 298px;
    height: 296px;

}

.pr-container {
    margin: 48px 48px;
}

.pr-text {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: auto 0;
    max-width: 808px;
    margin-left: 66px;
}

.kontacts{
    background: #292929;
    height: 367px;
    max-width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.kontacts p{
    color: #EAEAEA;
    font-size: 20px;
    max-width: 440px;
    line-height: 40px;
}
.kontacts h1{
    color: #EAEAEA;
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    max-width: 542px;
    margin-top: 20px;
}
.address{
    margin: 36px 222px 130px 284px;
}
.address a{
    text-decoration: none;
    color: #EAEAEA;
}
.podr a{
    text-decoration: none;
    color: #000000;  
}